body{
    background-color: #072628;
    
    /*/background: radial-gradient(black, #072628, #293c44, black);*/
    background-repeat: no-repeat;
    background-size: 100% 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.batman{
    height: 154px;
    width: 800px;
    margin: 50px;
    border: 0px solid;
    position: relative;
    background-repeat: no-repeat;
    background-image:linear-gradient(to bottom right, transparent 0%, transparent 35%, #020003 35%, #020003 100%),
    linear-gradient(to bottom left, transparent 0%, transparent 35%, #020003 35%, black 100%),
    linear-gradient(to bottom left,#020003, #020003), linear-gradient(to bottom left,#020003, #020003),
    linear-gradient(to bottom right, transparent 0%, transparent 35%, #020003 35%, #020003 100%),
    linear-gradient(to bottom left, transparent 0%, transparent 35%, #020003 35%, #020003 100%),
    linear-gradient(to bottom right, transparent 0%, transparent 35%, #020003 35%, #020003 100%),
    linear-gradient(to bottom left, transparent 0%, transparent 35%, #020003 35%, #020003 100%),
    linear-gradient(to bottom right, transparent 0%, transparent 60%, #020003 60%, #020003 100%),
    linear-gradient(to bottom left, transparent 0%, transparent 60%, #0d0d17 60%, #0d0d17 100%),
    linear-gradient(to bottom left,#020003, #020003), linear-gradient(to bottom left,#0d0d17, #0d0d17);
    background-size: 8px 50px, 8px 40px, 8px 60px, 8px 60px, 8px 69px, 8px 69px, 15px 70px, 15px 70px, 
    95px 70px, 88px 70px, 43px 56px, 85px 56px;
    background-position: 300px 50px, 500px 50px, 300px 87px, 500px 87px, 295px 70px, 505px 70px, 293px 85px, 
    500px 85px, 274px 85px, 447px 85px, 365px 100px, 365px 100px;  
}

.batman:before,
.batman:after {
  display: flex;
  content: '';
  position: relative;
}

.batman:before{
    height: 355px;
    width: 800px;
    border: 0px solid;
    margin-top: 154px;
    background-repeat: no-repeat;
    background-image:
    /*tapas*/
    linear-gradient(to bottom left,#020003, #020003),
    linear-gradient(to bottom left,#0d0d17, #0d0d17),
    /*Orificios de boca*/
    linear-gradient(to bottom left,#b87a4e, #b87a4e), 
    linear-gradient(to bottom left, #b87a4e 0%, #b87a4e 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom left,#b87a4e, #b87a4e),
    linear-gradient(to bottom right, #b87a4e 0%, #b87a4e 35%, transparent 35%, transparent 100%),
    /*Orejas*/
    radial-gradient(#020003 60%, transparent 60%), radial-gradient(#0d0d17 60%, transparent 60%),
    /*Ojos*/
    linear-gradient(55deg, #020003 0% 25%, white 25% 75%, #020003 75%), 
    linear-gradient(to top right, #fff 0%, #fff 35%, #020003 35%, #020003 100%),
    linear-gradient(-55deg, #0d0d17 0% 25%, white 25% 75%, #0d0d17 75%), 
    linear-gradient(to top left, #fff 0%, #fff 35%, #0d0d17 35%, #0d0d17 100%),
    /*Mejillas negro*/
    linear-gradient(to bottom left,#020003, #020003), linear-gradient(to bottom left,#0d0d17, #0d0d17),
    /*Mejillas negro*/
    linear-gradient(to top right, transparent 0%, transparent 60%, #020003 60%, #020003 100%),
    linear-gradient(to top left, transparent 0%, transparent 60%, #0d0d17 60%, #0d0d17 100%),
    /*Cuello*/
    linear-gradient(to bottom left,#020003, #020003), linear-gradient(to bottom left,#0d0d17, #0d0d17),
    /*Triangulos barbilla*/
    linear-gradient(to top right, #020003 0%, #020003 35%, transparent 35%, transparent 100%),
    linear-gradient(to top left, #0d0d17 0%, #0d0d17 35%, transparent 35%, transparent 100%),
    /*Boca*/
    linear-gradient(to bottom left,#a38150, #a38150),
    linear-gradient(70deg, transparent 0% 25%, #a38150 25%),
    linear-gradient(-70deg, transparent 0% 25%, #a38150 25%),
    /*Cara*/
    linear-gradient(to top right, #fdc789, #fdc789),
    /*Triangulo barbilla*/
    linear-gradient(to bottom right, #020603 0%, #020603 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom left, #020603 0%, #020603 35%, transparent 35%, transparent 100%),
    /*Quijada izquierdo*/
    linear-gradient(to top left, #020003 0%, #020003 35%, transparent 35%, transparent 100%),
    /*Cuello*/
    linear-gradient(to bottom right, #020003, #020003), linear-gradient(to bottom right, #0d0d17, #0d0d17),
    /*Quijada derecho*/
    linear-gradient(to top right, #0d0d17 0%, #0d0d17 35%, transparent 35%, transparent 100%),
    /*Hombros*/
    linear-gradient(to top left, #020003 0%, #020003 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, #0d0d17 0%, #0d0d17 35%, transparent 35%, transparent 100%);
    background-size: 20px 20px, 20px 20px,6px 8px, 8.6px 7px, 6px 8px, 8.6px 7px, 30px 60px, 30px 60px, 50px 14px, 45px 10px, 
    50px 14px, 45px 10px, 115px 130px, 222px 130px, 144px 70px, 134px 69.7px, 25px 130px, 25px 130px,
    50px 70px, 50px 70px,70px 8px,30px 10px,25px 10px, 174px 140px, 80px 140px, 88px 140px, 20px 86px, 123px 104px, 130px 104px, 
    20px 86px, 220px 145px, 220px 145px, 510px 160px, 510px 200px;
    background-position:310px 250px, 480px 250px, 319.2px 145.4px, 316.6px 153.2px, 489.9px 143px, 489.9px 151px, 283px 80px, 
    495px 80px, 325px 95px, 330.3px 85.4px, 437px 95px, 437px 85.4px, 293px 0px, 293px 0px,264px 129.8px, 
    408px 129.8px, 300px 130px, 490px 130px, 324px 192px, 441px 192px, 370px 205px, 377px 225px,407px 225px,
    320px 120px, 410px 260px, 322.5px 260px, 281px 170px, 287.3px 254px, 398px 254px, 514px 170px, 
    68px 213px, 527px 213px, 106px 357.5px, 106px 357.5px;
}

.batman:after{
    height: 600px;
    width: 1000px;
    border: 0px solid;
    background-repeat: no-repeat;
    background-image:
    /*Capa izquierda*/
    linear-gradient(to bottom right, #0d0d17 0%, #0d0d17 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, black 0%, black 30%, transparent 30%, transparent 100%),
    /*Capa derecha*/
    linear-gradient(to bottom left, black 0%, black 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom left, #0d0d17 0%, #0d0d17 30%, transparent 30%, transparent 100%),
    /*tapas*/
    linear-gradient(to bottom right, #4b4545, #4b4545),
    linear-gradient(to bottom right, #4b4545, #4b4545),
    /*Simbolo - Cuernos*/
    linear-gradient(to top left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black), 
    linear-gradient(to bottom right, black, black),linear-gradient(to bottom right, black, black),
    /*Alas-parte de arriba*/
    linear-gradient(to top left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, black 0%, black 35%, transparent 35%, transparent 100%),
    /*Alas - lados*/
    linear-gradient(to top left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, black 0%, black 35%, transparent 35%, transparent 100%),
    /*Ala - abajo izquierda*/
    linear-gradient(to top left, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to top left, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to top right, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to bottom left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to bottom left, black 0%, black 35%, transparent 35%, transparent 100%),
    /*Ala - abajo derecha*/
    linear-gradient(to top right, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom left, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to top right, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to top left, #4b4545 0%, #4b4545 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to bottom left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to bottom right, black 0%, black 35%, transparent 35%, transparent 100%),
    /*Ala - abajo centro*/
    linear-gradient(to bottom left, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black 0%, black 35%, transparent 35%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    /*Pecho*/
    linear-gradient(to bottom right, #4b4545, #4b4545),
    linear-gradient(to bottom left, #4b4545 0%, #4b4545 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #4b4545, #4b4545),
    linear-gradient(to bottom right, #4b4545 0%, #4b4545 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #241e22, #241e22),
    linear-gradient(to bottom left, #241e22 0%, #241e22 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #241e22 0%, #241e22 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #131114, #131114),
    linear-gradient(to top left, #131114 0%, #131114 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom left, #131114 0%, #131114 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #131114 0%, #131114 30%, transparent 30%, transparent 100%),
    linear-gradient(to top right, #131114 0%, #131114 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #131114 0%, #131114 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom left, #131114 0%, #131114 30%, transparent 30%, transparent 100%),
    
    /*capa relleno izquierda*/
    linear-gradient(to top left, #0d0d17 0%, #0d0d17 30%, transparent 30%, transparent 100%),
    linear-gradient(to top right, black 0%, black 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #0d0d17 0%, #0d0d17 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #0d0d17, #0d0d17),
    linear-gradient(to bottom right, black 0%, black 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    /*capa relleno izquierdo*/
    linear-gradient(to bottom left, black 0%, black 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, black, black),
    linear-gradient(to bottom left, #0d0d17 0%, #0d0d17 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #0d0d17, #0d0d17),
    
    /*Brazo izquierdo*/
    linear-gradient(to bottom left, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #54504d 0%, #54504d 30%, transparent 30%, transparent 100%),
    linear-gradient(to left, #54504d , #54504d),
    linear-gradient(to bottom left, #242021, #242021),
    linear-gradient(to bottom right, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(-255deg, #54504d 0% 60%, transparent 60%),
    linear-gradient(-255deg, #141215 0% 60%, transparent 60%),

    /*brazo derecho*/
    linear-gradient(to bottom right, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom left, #54504d 0%, #54504d 30%, transparent 30%, transparent 100%),
    linear-gradient(to left, #54504d , #54504d),
    linear-gradient(to bottom right, #242021, #242021),
    linear-gradient(to bottom left, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(255deg, #54504d 0% 60%, transparent 60%),
    linear-gradient(255deg, #141215 0% 60%, transparent 60%),
    
    /*abdomen*/
    linear-gradient(to bottom right, #1a1414, #1a1414),
    linear-gradient(to bottom right, #4b4545, #4b4545),
    linear-gradient(to bottom right, #4b4545, #4b4545),
    linear-gradient(to top left, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(to top right, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom left, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #242021 0%, #242021 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom left, #4b4545 0%, #4b4545 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #4b4545 0%, #4b4545 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #4b4545, #4b4545),
    linear-gradient(25deg, transparent 0% 35%, black 35% 55%, transparent 55%),
    linear-gradient(25deg, transparent 0% 35%, black 33% 57%, transparent 57%),
    linear-gradient(-25deg, transparent 0% 35%, black 35% 55%, transparent 55%),
    linear-gradient(-25deg, transparent 0% 35%, black 33% 57%, transparent 57%),
    linear-gradient(to top right, #072628, 0%, #072628, 30%, transparent 30%, transparent 100%),
    linear-gradient(to top left, #072628, 0%, #072628, 30%, transparent 30%, transparent 100%),
    linear-gradient(to bottom right, #413d3c, #413d3c),
    linear-gradient(to bottom left, #413d3c, #413d3c);


    background-size: 510px 160px, 510px 200px, 510px 160px, 510px 200px, 30px 10px, 29px 10px,
    5px 35px,5px 35px, 5px 35px,5px 35px, 30px 20px,85px 30px,85px 30px,20px 18px, 20px 18px,20px 18px,
    20px 18px,42.5px 43px, 42.5px 43px,57px 20px, 40px 75px, 40px 40px, 30px 5px,15px 6px, 60px 30px, 
    15px 17px, 13px 17px, 100px 28px, 13px 7px,57px 20px, 40px 75px, 40px 40px,30px 5px, 15px 6px, 29px 30px,15.5px 17px,
    15.5px 17px, 100px 28px,13px 7px, 35px 90px, 35px 90px, 48.3px 10px, 500px 160px, 170px 170px, 300px 120px, 170px 170px,
    530px 165px, 200px 160px, 200px 160px, 580px 180px, 10px 110px, 230px 170px, 580px 100px, 10px 110px, 230px 170px,
    580px 100px, 190px 80px, 190px 80px, 180px 50px, 120px 53px, 180px 50px, 108px 55px,
    185px 50px, 120px 51px, 180px 50px, 108px 55px, 
    
    20px 140px, 140px 130px, 85px 70px, 140px 115px, 230px 150px, 140px 200px, 200px 330px,

    20px 140px, 140px 130px, 85px 70px, 140px 115px, 230px 150px, 140px 200px, 200px 330px,


    2px 225px, 155px 170px, 155px 170px, 130px 90px, 130px 90px, 130px 50px, 130px 50px, 100px 90px,
    100px 90px, 180px 55px, 70px 80px, 100px 80px, 70px 80px, 100px 80px, 210px 210px, 210px 210px, 200px 330px, 
    200px 330px;

    background-position: 106px 0px, 106px 0px,200px 0, 200px 0, 319.5px 110.3px,471px 110.3px, 390px 20px,
    394.9px 20px, 418px 20px, 422.9px 20px, 395px 48px,330px 54.8px,405px 54.8px,323.8px 37px,
    343.6px 37px, 456.5px 37px, 476.3px 37px, 288px 42px, 489.5px 42px, 263px 104.5px, 
    272.6px 84.5px, 278px 84.5px , 310.4px 105.6px, 340px 105.2px, 290px 84.5px, 
    345.8px 111px, 360px 111px, 349.5px 83.5px, 373.5px 111px,500px 104.5px, 506.8px 84.5px,
    500px 84.5px,480.4px 105.6px, 465.6px 105.2px, 471px 84.5px, 444.9px 111px, 460px 111px, 409.5px 83.5px,
    434px 111px, 375.5px 115.8px, 409.8px 115.8px, 386px 106px, 150px 0, 82px 160px, 250px 141px, 549px 160px,
    135px 0, 55px 164px, 545px 164px, 115px 0, 105px 70px, 17px 179.5px, 247px 221px, 695px 70px, 563px 179.5px,
    -16px 221px, -78px -35px, 709.5px -32px, 0px 96px, 0px 45px,
    0px 119px, 0px 65px, 635px 96px, 700px 46px, 636px 119px,709px 65px, 
    
    68px 125px, 0px 164px, 0px 95px, 0px 80px, 0px 190px, 0 230px, 0px 100px,

    725px 125px, 674.5px 165px, 730px 95px, 675px 80px, 585px 190px, 675px 230px, 615px 100px,
    
    410px 280px, 255px 250px, 400px 250px, 280px 385px, 412px 385px, 280px 475px, 410px 475px,
    215px 420px, 495px 420px, 315px 419px, 190px 390px, 156px 310px, 548px 390px, 555px 310px,
    50px 271px, 540px 271px, 60px 150px, 550px 150px;
}